p:first-of-type {
   margin-top: 2rem !important;
}

@media (max-width: 500px) {
   .section-2-branding {
      display: flex !important;
      flex-direction: column !important;
      align-items: center !important;
   }
}