.contact-form-container {
    width: 50vw;
}

.contact-btn {
    background-color: #c20c0c;
    border: #850000;
}

@media (max-width: 768px) {
    .contact-form-container {
        width: 88vw;
    }    
}