.service-head-container {
  position: relative;
}

.service-head {
  position: relative;
}

h1:first-of-type {
  margin: 0 !important;
  margin-top: -1rem !important;
}

.paragraph-services {
  background-color: rgb(238, 237, 237);
}

.external-link {
  text-decoration: none;
}

.paragraph-services::before {
  content: "";
  position: absolute;
  background: black;
  width: 43%;
  height: 10rem;
  transform: translateY(-3rem);
  z-index: -1;
}

#wheel-4 {
  position: absolute;
  top: 34%;
  left: 35%;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 500px) {
  .image-container {
    display: none !important;
  }

  #wheel-4 {
    width: calc(100% - 72%) !important;
    height: calc(100% - 72%) !important;
  }

  .service-head {
    width: calc(100% - 40%) !important;
    height: calc(100% - 40%) !important;
  }

  .service-head-container {
    display: flex;
    justify-content: center;
  }

  .paragraph-services::before {
    content: "";
    position: absolute;
    background: black;
    width: 61%;
    height: 18rem;
    transform: translateY(-3rem);
    z-index: -1;
  }
}

@media (min-width: 500px) {
  .carousel-inner {
    display: none;
  }
}

@media screen and (max-width: 800px) and (min-width: 500px) {
  #wheel-4 {
    margin-left: 3.5rem;
  }

  .service-head-container {
    display: flex;
    justify-content: center;
  }

  .paragraph-services::before {
    width: 78%;
  }
}

@media screen and (max-width: 1100px) and (min-width: 800px) {
  #wheel-4 {
    width: calc(100% - 70%) !important;
    height: calc(100% - 70%) !important;
  }

  .paragraph-services::before {
    width: 58%;
  }
}

@media screen and (max-width: 1500px) and (min-width: 1100px) {
  .paragraph-services::before {
    width: 60%;
  }
}

@media screen and (min-width: 2500px) {
  .paragraph-services::before {
    width: 34%;
  }
}
