
p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: black;
}

.credits {
  text-decoration: none;
  margin-top: .8rem;
  margin-left: 2rem;
  font-size: smaller;
  color: gray;
}

.credits:hover {
  text-decoration: none;
  color: red !important;
}

@media (max-width: 500px) {
   p {
    font-size: .9rem;
   }
  }

@media (max-width: 800px) {
   p {
    font-size: 1rem;
   }
  }